<div id="footer">
    <div id="footer-top" class="w">
        <div id="footer-top-left" class="l">
            <div><a href="#">下载拉勾APP</a></div>
            <div><a href="#">微信小程序</a></div>
            <span></span><!-- icon --><span>拉勾微信</span>
            <span></span><!-- icon --><span class="r">拉勾微博</span>
        </div>
        <div id="footer-top-right" class="l">
            <div>
                <h3>企业服务</h3>
                <ul>
                    <li><a href="#">招聘抢人宝典</a></li>
                    <li><a href="#">公司搜索</a></li>
                    <li><a href="#">拉勾APP</a></li>
                </ul>
            </div>
            <div>
                <h3>用户帮助</h3>
                <ul>
                    <li><a href="#">用户协议</a></li>
                    <li><a href="#">隐私政策</a></li>
                    <li><a href="#">在线提问</a></li>
                </ul>
            </div>
            <div>
                <h3>联系方式</h3>
                <ul>
                    <li><a href="#">服务热线：4006 2828 35 (9:00 -18:00)</a></li>
                    <li><a href="#">企业服务邮箱：cc@lagou.com</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer-bottom" class="w">
        <span>©2020 拉勾网 京ICP备14023790号-2</span>
        <span></span><!-- icon -->
        <span>京公网安备 11010802024043号</span>
        <span>违法和不良信息举报 电话: 4006-2828-35 邮箱: cc@lagou.com</span>
        <img src="https://www.lgstatic.com/lg-www-fed/common/widgets/footer_c/modules/img/footer_lagou_icon_75f0ebc.png"
            alt="" class="r">
    </div>
</div>