<div id="header">
    <div class="w">
        <div id="header-logo" class="l">
            <a href="index.html"></a>
        </div>
        <div id="header-place" class="l">
            <span>全国站</span>
            <span></span><!-- icon -->
        </div>
        <div id="header-nav-left" class="l">
            <ul>
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <a href="#">公司</a>
                </li>
                <li>
                    <a href="position.html">校园招聘</a>
                </li>
                <li>
                    <a href="#">职位</a>
                </li>
                <li>
                    <a href="#">言职</a>
                </li>
                <li>
                    <a href="education.html">课程</a>
                </li>
                <li>
                    <a href="#">APP</a>
                </li>
            </ul>
        </div>
        <div id="header-nav-right" class="r">
            <ul>
                <li>
                    <a href="#">上传附件简历</a>
                </li>
                <li>
                    <span></span><!-- icon -->
                </li>
                <li>
                    <a href="#">登录</a>
                </li>
                <li>
                    <span>|</span>
                </li>
                <li>
                    <a href="#">注册</a>
                </li>
                <li>
                    <a href="#">进入企业版</a>
                </li>
            </ul>
        </div>
    </div>
</div>