<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/education.css">
    <script src="/lib/require.js" data-main="/js/edu.js"></script>
</head>
<body>
    @include('head.html')
    <div id="column" class="w">
        <!-- <a href="#">
            <img src="https://s0.lgstatic.com/thumbnail_120x0/i/image/M00/63/47/Ciqc1F-WOCiAWhg4AABAHysXMQE753.png" class="l">
            <div id="column-right">
                <div class="column-right-title">哈哈哈哈哈</div>
                <div class="column-right-brief">哈哈哈哈</div>
                <div class="column-right-teacher">哈哈哈</div>
                <div class="column-right-btm">
                    <span>￥</span>
                    <span>998</span>
                    <span>1w人购买</span>
                </div>
            </div>
            <button>试看</button>
        </a> -->
    </div>
    @include('foot.html')
</body>
</html>