<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/educolumn.css">
    <script src="/lib/require.js" data-main="/js/educolumn.js"></script>
</head>
<body>
    @include('head.html')
    <div id="ecn" class="w">
        <div id="ecn-head">
            <!-- <a href="/view/education.html">课程列表 ＞</a>
            <span>7天带你搞定数据分析</span> -->
        </div>
        <div id="ecn-body">
            <div id="ecn-body-left" class="l">
                <!-- <img src="https://s0.lgstatic.com/i/image/M00/6E/B4/Ciqc1F-zcmuABPlzAAQ67u6HjsQ266.png"> -->
            </div>
            <div id="ecn-body-right" class="r">
                <!-- <h5>7天带你搞定数据分析</h5>
                <p>0 基础轻松入门，掌握高薪数据分析技能</p>
                <p>共23节</p>
                <span>￥</span>
                <span>9</span>
                <button>加入学习</button> -->
            </div>
        </div>
    </div>
    @include('foot.html')
</body>
</html>