<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/education.css">
    <script src="/lib/require.js" data-main="/js/edu.js"></script>
</head>
<body>
    @include('head.html')
    <div id="edu-banner">
        <ul id="edu-banner-ul">
            <!-- <li class="active"><a href="#"><img src="https://www.lgstatic.com/i/image/M00/7C/75/Ciqc1F_NnSSAOjCGAAFQOLVqKHY992.JPG"></a></li>
            <li><a href="#"><img src="https://www.lgstatic.com/i/image/M00/7C/B2/Ciqc1F_NxlKADgE1AADM8N56RXQ561.PNG"></a></li>
            <li><a href="#"><img src="https://www.lgstatic.com/i/image/M00/7C/F4/CgqCHl_N6KiAKbbsAAEdHXmsKiI703.JPG"></a></li>
            <li><a href="#"><img src="https://www.lgstatic.com/i/image/M00/7C/F9/CgqCHl_N7EyAOSdlAAFBLI_YzSA765.JPG"></a></li> -->
        </ul>
        <ol>
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <ul id="edu-banner-right">
            <!-- <p class="active"><span>◀</span>就业率口碑训练营限时大促</p>
            <p><span>◀</span>打好数据分析的基本功</p>
            <p><span>◀</span>Apache Druid 实时多维度聚合分析实战</p>
            <p><span>◀</span>前端高薪训练营</p> -->
        </ul>
    </div>
    <div id="edu-camp" class="w">
        <div id="edu-camp-top">
            <p>训练营<span class="r">展开 ∨</span></p>  
        </div>
        <div id="edu-camp-buttom">
            <!-- <a href="#">
                <img src="https://s0.lgstatic.com/i/image/M00/49/36/CgqCHl9OfxGAdRTuAAKel6wbLdk645.png">
            </a>
            <a href="#">
                <img src="https://s0.lgstatic.com/i/image/M00/49/36/CgqCHl9OfxGAdRTuAAKel6wbLdk645.png">
            </a>
            <a href="#">
                <img src="https://s0.lgstatic.com/i/image/M00/49/36/CgqCHl9OfxGAdRTuAAKel6wbLdk645.png">
            </a> -->
        </div>
    </div>
    <div id="edu-column" class="w">
        <!-- <a href="#">
            <img src="https://s0.lgstatic.com/thumbnail_120x0/i/image/M00/63/47/Ciqc1F-WOCiAWhg4AABAHysXMQE753.png" class="l">
            <div id="column-right">
                <div class="column-right-title">哈哈哈哈哈</div>
                <div class="column-right-brief">哈哈哈哈</div>
                <div class="column-right-teacher">哈哈哈</div>
                <div class="column-right-btm">
                    <span>￥</span>
                    <span>998</span>
                    <span>1w人购买</span>
                </div>
            </div>
            <button>试看</button>
        </a> -->
    </div>
    @include('foot.html')
</body>
</html>