<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/position.css">
    <script src="/lib/require.js" data-main="/js/position.js"></script>
</head>
<body>
    @include('head.html')
    <!-- search -->
    <div id="search">
        <div id="input">
            <form action="#" class="clearfix">
                <input type="text" class="inp l" placeholder="搜索职位、公司或地点">
                <input type="submit" value="搜索" class="submit l">
            </form>
            <div id="hot-search">
                <span>热门搜索：</span>
            </div>
        </div>
    </div>
    <!-- banner -->
    <div id="banner" class="w clearfix">
        <div class="left-nav l">
            <ul>
                <li class="clearfix nav-main">
                    <div class="l">技术</div>
                    <div class="l">
                        <a href="#">web前端</a>
                        <a href="#">web前端</a>
                    </div>
                    <span class="r">></span>
                    <ul class="more-position">
                        <li>
                            <a href="">Java</a>
                            <span>&nbsp|&nbsp</span>
                            <a href="">PHP</a>
                            <span>&nbsp|&nbsp</span>
                            <a href="">软件开发</a>
                        </li>
                    </ul>
                    <span class="s"></span>
                </li>
                <li class="clearfix nav-main">
                    <div class="l">技术</div>
                    <div class="l">
                        <a href="#">web前端</a>
                        <a href="#">web前端</a>
                    </div>
                    <span class="r">></span>
                </li>
                <li class="clearfix nav-main">
                    <div class="l">技术</div>
                    <div class="l">
                        <a href="#">web前端</a>
                        <a href="#">web前端</a>
                    </div>
                    <span class="r">></span>
                </li>
                <li class="clearfix nav-main">
                    <div class="l">技术</div>
                    <div class="l">
                        <a href="#">web前端</a>
                        <a href="#">web前端</a>
                    </div>
                    <span class="r">></span>
                </li>
                <li class="clearfix nav-main">
                    <div class="l">技术</div>
                    <div class="l">
                        <a href="#">web前端</a>
                        <a href="#">web前端</a>
                    </div>
                    <span class="r">></span>
                </li>
        </div>
        <div class="img l">
            <!-- <ul class="pic"> -->
            <!--     <li> -->
            <!--         <a href=""> -->
            <!--             <img src="" alt=""> -->
            <!--         </a>   -->
            <!--     </li> -->
            <!-- </ul> -->
            <!-- <ol class="icon"> -->
            <!--     <li class="active"></li> -->
            <!--     <li class="l"></li> -->
            <!-- </ol> -->
        </div>
        <div class="login l">
            <div class="user-img">
                <img src="https://www.lgstatic.com/campus/static/c6acda64.png" alt="">
            </div>
            <div class="user-info">
                <p>Hi！ 你好</p>
                <div class="user-login clearfix">
                    <a href="#" class="l">登录</a>
                    <a href="#" class="r">注册</a>
                </div>
            </div>
            <div class="user-code">
                <p>校招信息随时查!</p>
                <div>
                    <img src="https://www.lgstatic.com/campus/static/3e130b91.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- hot-recommendation -->
    <div id="hot-recommendation"class="w">
        <div class="title">
            <h3>热门推荐</h3>
        </div>
        <div class="content clearfix">
            <div class="first l company">
                <div class="first-li clearfix">
                    <span class="span1 l"></span>
                    <span class="l">大家都在投</span>
                    <span class="r">选择好公司,助力好未来</span>
                </div>
                <ul>
                </ul>
            </div>
            <div class="sec l company">
                <div class="first-li clearfix">
                    <span class="span1 l"></span>
                    <span class="l">投递热门榜</span>
                    <span class="r">精选热门职位，值得一投
                    </span>
                </div>
                <ul></ul>
            </div>
            <div class="last l company">
                <div class="first-li clearfix">
                    <span class="span1 l"></span>
                    <span class="l">极速反馈榜</span>
                    <span class="r">高效HR top 5，一触即达
                    </span>
                </div>
                <ul></ul>
            </div>  
        </div>
    </div>
    <!-- hot-company -->
    <div id="hot-company" class="w">
        <div class="title-nav clearfix">
            <h3 class="l">力荐好公司</h3>
            <ul class="l clearfix city">
                <li class="l active">
                    <a href="#">北京</a>
                </li>
                <li class="l">
                    <a href="#">上海</a>
                </li>
                <li class="l">
                    <a href="#">广州</a>
                </li>
                <li class="l">
                    <a href="#">深圳</a>
                </li>
                <li class="l">
                    <a href="#">成都</a>
                </li>
                <li class="l">
                    <a href="#">杭州</a>
                </li>
                <li class="l">
                    <a href="#">武汉</a>
                </li>
                <li class="l">
                    <a href="#">南京</a>
                </li>
                <li class="l last">
                    <a href="#">苏州</a>
                </li>       
            </ul>
        </div>
        <div class="company-list clearfix">
                <div class="l company-name">
                    <p class="active">字节跳动</p>
                    <p>海马云</p>
                    <p>人人公司</p>
                    <p>象辑科技</p>
                    <p>康新知识产权</p>
                    <p>MDPI曼迪匹艾</p>
                    <p>艾迪泰科</p>
                    <p>北京和风畅想科技有限公司</p>
                </div>
                <div class="l company-content">
                    <dl class="clearfix">
                        <dt class="l">
                            <div class="box1">
                                <img src="https://www.lgstatic.com/i/image2/M01/84/A5/CgotOVuH2zqAUBO4AAAUwmvoBf0148.png" alt="">
                                <div>
                                    <h3>北京贝塔科技股份有限公司</h3>
                                    <div class="box2">
                                        <span>北京</span>/
                                        <span>电商,游戏</span>/
                                        <span>不需要融资</span>
                                    </div>
                                    <div class="box3">
                                        <a href="">地铁2分钟</a>
                                        <a href="">校内宿舍</a>
                                        <a href="">超大体育馆</a>
                                    </div>
                                </div>
                            </div>
                            <div class="company-detail">
                                <div>
                                    <h4>我们的故事</h4>
                                </div>
                                <div>
                                    <p>我们是谁？我们是一家互联网教育公司，为体制内的中小学提供创新学校管理的一站式解决方案，产品是一款ToB的Saas服务平台，通过深入学校，创造更加个性化的学习工具与范式。我们的每位成员都对教育有着自己的理解与追求，大家为了共同的目标而走到了一起。其中不乏来自北京大学、清华大学、硅谷的行业精英。我们有什么？【产品】 我们的产品即将影响新高考制度下的每一届学生，他们在校园内生活的点点滴滴，都被我们的产品服务着，在我们合作许多新建校里，你还能看到基于我们产品的全新办学模式。【增长】 我们是一家坚持要盈利的创业公司，我们相信盈利是对产品价值最好的体现；尽管我们的产品形态不会呈现爆发式的用户增长，但我们拥有相当数量的优质客户资源且这一数字还在持续增加。【文化】 创造学习、学习创造，是我们坚持的团队文化，我们对于团队伙伴的个人发展与公司的发展同样看重；我们开放一切重要职位给有学习能力的人，不以其他因素为团队中的个人发展设限。【环境】 我们的办公地点位于中关村大街，距离地铁1分钟路程，我们的办公场地内有食堂、定期演出的小剧场、免费使用的健身房与体育馆。</p>
                                </div>
                                <div>
                                    <a href="#">3个校招职位</a>
                                </div>
                                
                            </div>
                        </dt>
                        <dd class="r dd">
                            <!-- <ul class="pic"></ul> -->
                            <!-- <ul class="pic"> -->
                            <!--     <li> -->
                            <!--         <a href=""> -->
                            <!--             <img src="" alt=""> 
                            -->
                            <!--         </a>   -->
                            <!--     </li> -->
                            <!-- </ul> -->
                            <!-- <ol class="icon"> -->
                            <!--     <li class="active"></li> -->
                            <!--     <li class="l"></li> -->
                            <!-- </ol> -->
                        </dd>
                    </dl>
                </div>
        </div>
    </div>
    
    <!-- hot-position -->
    <div id="hot-position" class="w">
        <div class="title-nav clearfix">
            <h3 class="l">热门职位</h3>
            <ul class="l clearfix position">
                <li class="l active">
                    <a href="javaScript:;">技术</a>
                </li>
                <li class="l">
                    <a href="javaScript:;">产品</a>
                </li>
                <li class="l">
                    <a href="javaScript:;">运营</a>
                </li>
                <li class="l">
                    <a href="javaScript:;">设计</a>
                </li>
                <li class="l">
                    <a href="javaScript:;">市场</a>
                </li>
                <li class="l">
                    <a href="javaScript:;">职能</a>
                </li>
            </ul>
        </div>
        <div class="position-list clearfix">
                <!--<div class="position-info l">
                       <div class="div">
                           <div class="slary clearfix">
                                <a href="#" class="l">技术运营实习生</a>
                                <span class="r">5k-10k</span>
                           </div>
                           <div class="div2">
                                <span>北京</span>
                                /
                                <span>本科</span>
                                /    
                                <span>实习</span>
                           </div>
                           <div class="div3">
                                <span>C++</span>
                                <span>C++</span>
                           </div>
                        </div>
                      <div  class="company-positioninfo">
                           <img src="" alt="" class="l">
                           <div>
                               <div>
                                   <p>字节跳动</p>
                               </div>
                               <div>
                                  <p>文娱丨内容 / D轮及以上</p>
                               </div>
                           </div>
                       </div>
                </div>
                <div class="position-info l"></div>
                <div class="position-info l"></div>-->
        </div>
    </div>

    @include('foot.html')
</body>
</html>