#footer{background-color: #fff;border-top: 1px solid #ebebeb;width: 100%;height: 353px;}
#footer #footer-top{height: 253px;}
#footer #footer-top-left{margin-top: 49px;margin-bottom: 66px;width: 182px;padding-right: 130px;border-right: 1px solid #E8E8E8;height: 138px;}
#footer #footer-top-left div{width: 180px;height: 22px;padding: 10px 0;border: 1px solid #00b38a;margin-bottom: 10px;text-align: center;}
#footer #footer-top-left div a{color: #00b38a;}
#footer #footer-top-left div:hover{background:  #00b38a;}
#footer #footer-top-left div:hover a{color: #fff;}
#footer #footer-top-left>a{color: #000;}
#footer #footer-top-left>a:nth-of-type(2){float: right;}
#footer #footer-top-left>a:hover{color: #00b38a;}
#footer #footer-top-right{margin-top: 49px;margin-bottom: 66px;padding-left: 130px;display: flex;flex: 1;justify-content: space-between;width: 757px;height: 138px;}
#footer #footer-top-right h3{margin-bottom: 30px;font-style: 18px;}
#footer #footer-top-right li{margin-bottom: 10px;}
#footer #footer-top-right li a{color: #333;}
#footer #footer-top-right li a:hover{color: #00b38a;}