#header{background: #32373e;height: 40px;}
#header #header-logo{width: 43px;height: 40px;background-image: url(https://www.lgstatic.com/lg-www-fed/common/widgets/header_c/modules/topbar/img/sprite_361857f.png);background-size: 64px 128px;background-repeat: no-repeat;background-position: -10px -1px;margin-right: 34px;}
#header #header-place{margin-right: 13px;line-height: 40px;text-align: center;cursor: pointer;}
#header #header-nav-left ul li{display: inline-block;line-height: 40px;padding: 0 21px;}
#header #header-nav-left ul li:hover a{color: #fff;}
#header #header-nav-right ul li{display: inline-block;line-height: 40px;}
#header #header-nav-right ul li:last-of-type{margin-left: 34px;}
#header #header-nav-right ul li:first-of-type{margin-right: 34px;}
#header #header-nav-right ul li:hover a{color: #fff;}